<!DOCTYPE html>
<html>
<head>
  <title> PomodoTasks </title>
  <link rel="stylesheet" href="styles/pomodotasks.css" ></link>
  <script src="lib/jquery.js"></script>
  <script src="lib/angular.js"></script>
  <script src="pomodotasksApp.js"></script>

  <style>
  .done-true {
    color: #aaa;
  }
  </style>
</head>

<body ng-app="app">
  <header>
    <h1>PomodoTasks</h1>
    <nav ng-controller="SettingsCtrl">
      <a href="#openSettings">Settings</a>
      <div id="openSettings" ng-click="settings()" class="settings">
        <div>
          <a href="#" class="closeSettings">X</a>
          <h1> Settings : </h1>
          <form>
            Timer duration <input ng-model="settings.timerDuration"/> (Default : 25)
            <button ng-click="applySettings()">Apply</button>
          </form>
        </div>
      </div>
    </nav>
  </header>

  <div class='container'>
    <div class='left-pane' ng-controller="TaskCtrl">
      <h2>Tasks</h2>
      <span>{{active()}} of {{tasks.length}} active tasks</span>
      [ <a href="" ng-click="archive()">archive</a> ]
      <ul class="tasksList">
        <li ng-repeat="task in tasks">
          -
          <input type="checkbox" ng-model="task.active">
          <span class="done-{{task.active}}">{{task.title}} ({{task.pomodoro}})</span>
        </li>
      </ul>
      <form ng-submit="addTask()">
        <input type="text" ng-model="taskTitle" size="30" placeholder="Add a new task" required>
        <input type="submit" value="Add">
      </form>
      <div class="archivedTasks">
        <h2>Archived Tasks</h2>
        <ul>
          <li ng-repeat="archivedTask in archivedTasks">
            {{archivedTask.title}} archived on {{archivedTask.date | date:"dd:MM"}}
          </li>
        </ul>
      </div>
    </div>

    <div class='right-pane' ng-controller="TimerCtrl">
      <h2> Timer </h2>
      <form>
        <button ng-disabled="timerStarted" ng-click="startTimer()">Start timer</button>
        <button ng-disabled="!timerStarted" ng-click="stopTimer()">Stop timer</button>
      </form>

      <p id="timer" ng-show="timerStarted"> {{timeLeft | date:"mm:ss"}} </p>
      <p id="timer" ng-show="timeLeft === 0"> Timer Expired ! </p>

      <div class="timerHistory">
        <ul>
          <li ng-repeat="pastTimer in timerHistory">
            Started : {{pastTimer.start | date:"HH:mm"}} -- Ended : {{pastTimer.end | date:"HH:mm"}}
          </li>
        </ul>
      </div>
    </div>

    <div id="notification"></div>

  </div>
  <footer>
    <p> Made with <a href="https://angularjs.org/" target="_blank"> AngularJs </a> </p>
    <p>
      Code available on Github !
      <br/>
      <a href="https://github.com/Feinte75/PomodoTasks" target="_blank">Check it out</a>
    </p>
  </footer>
</body>
</html>
