<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styles/pomodotasks.css" ></link>
  <script src="lib/jquery.js"></script>
  <script src="lib/angular.js"></script>
  <script src="pomodotasksApp.js"></script>

  <style>
  .done-true {
    color: #aaa;
  }
  </style>
</head>

<body>
  <header>
    <h1>PomodoTasks</h1>
  </header>

  <div class='container' ng-app="app">
    <div class='left-pane' ng-controller="TaskCtrl">
      <h2>Tasks</h2>
      <span>{{remaining()}} of {{tasks.length}} remaining</span>
      [ <a href="" ng-click="archive()">archive</a> ]
      <ul>
        <li ng-repeat="task in tasks">
          <input type="checkbox" ng-model="task.done">
          <span class="done-{{task.done}}">{{task.title}}</span>
        </li>
      </ul>
      <form ng-submit="addTask()">
        <input type="text" ng-model="taskTitle" size="30" placeholder="Add a new item" required>
        <input type="submit" value="Add">
      </form>
    </div>

    <div class='right-pane' ng-controller="TimerCtrl">
      <h2> Timer </h2>
      Timer duration :<input ng-disabled="timerStarted" ng-model="timerDuration" type="text" />
      <button ng-disabled="timerStarted" ng-click="startTimer()">Start timer</button>
      <button ng-disabled="!timerStarted" ng-click="stopTimer()">Stop timer</button>

      <p id="timer" ng-show="timerStarted"> {{timeLeft | date:"mm:ss"}} </p>
      <p id="timer" ng-show="timeLeft === 0"> Timer Expired ! </p>

      <div class="timerHistory">
        <ul>
          <li ng-repeat="pastTimer in timerHistory">
            Started : {{pastTimer.start | date:"HH:mm"}} -- Ended : {{pastTimer.end | date:"HH:mm"}}
          </li>
        </ul>

      </div>

    </div>
    <div id="notification">
    </div>

  </div>
  <footer>
    Made with <a href="https://angularjs.org/" target="_blank"> AngularJs </a>
    <br/><br/>
    Code available on Github !
    <br/>
    <a href="https://github.com/Feinte75/PomodoTasks" target="_blank">Check it out</a>
  </footer>
</body>
</html>
