h1, h2 {
  text-align: center;
}


.container {
  display: block;
  width: 800px;
  margin: 0 auto;
}

.left-pane {
  float: left;
  margin: 0px 20px 0px 40px;
}

.right-pane {
  float: left;
  display: inline;
  vertical-align: top;
}

#timer {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

body {
  background: -moz-linear-gradient(left, rgba(226,52,0,1) 0%, rgba(226,52,0,0.98) 4%, rgba(219,88,81,0.89) 23%, rgba(204,75,75,0.66) 70%, rgba(206,61,0,0.59) 85%, rgba(206,61,0,0.51) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(226,52,0,1) 0%,rgba(226,52,0,0.98) 4%,rgba(219,88,81,0.89) 23%,rgba(204,75,75,0.66) 70%,rgba(206,61,0,0.59) 85%,rgba(206,61,0,0.51) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(226,52,0,1) 0%,rgba(226,52,0,0.98) 4%,rgba(219,88,81,0.89) 23%,rgba(204,75,75,0.66) 70%,rgba(206,61,0,0.59) 85%,rgba(206,61,0,0.51) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
